:focus{
    outline: none;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
    
    background-color:rgba(245, 181, 221, 0.514) ;
   
   
}
   /*****navigation bar*****/

nav { 
     background-color:rgb(245, 181, 221) ; 
     /*background-color:rgb(226, 228, 241);*/
      box-shadow: 0.3em 0.3em 1.6em 0.5em hsl(0, 0%, 98%); 
      position: fixed;
      width: 100%;   
      text-align: end;
      font-weight: lighter;
      word-spacing: 1%;
     
}


.bar {
      padding: 1.5em;
    
}
li {
      display: inline;
       
}
/******boton barra de navegación "contacto"****/
.btn-bar:hover {  
       
       color:rgb(47, 234, 247);
}

.btn-bar{
       color: rgb(228, 96, 140);
       text-decoration: none;
       font-size: 1rem;
       font-family: 'Josefin Sans', sans-serif;
       display: inline;
       margin-right: 1%;
}

.btn-contact {
       color: rgb(228, 96, 140);
       text-decoration: none;
       font-size: 1rem;
       font-family: 'Josefin Sans', sans-serif;
       padding: 0.5em;
       border-radius: 2em;  
    
}

.btn-contact:hover {
    background-color:#7dcaf0 ;
    border-radius: 2em;
    box-shadow: 0.1em 0.1em 1em 0.2em  rgb(47, 234, 247);
    color:#edf3f3;
}


/*****end of navigation bar*****/


/*****start content area*****/

.introduction-presentation-img-avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    letter-spacing: 0.1rem;
    background-color: rgba(245, 181, 221, 0.514);
    padding: 8em 1em 8em 8em;
}


/*****contenerdor de titulo,parrafo y boton*****/
.title-presentation {
    display: flex;
    justify-content: space-evenly;
    flex-direction:column;
    margin-top: 5em;
    
   
}

/****contenedor del avatar***/
 .img-avatar {
    display: flex;
    flex-direction:row;
    justify-content:center;
    max-width: 1500px;
   
 }
/*****/

.title-hello {
    
    font-family: 'Concert One', cursive;
    font-size: 2rem;
    color: rgba(255, 152, 224, 0.747);
    text-shadow: 0.1rem 0.1rem #740853 , 0.1rem 0.1rem #a0228f; 

  
}

.title-name {
    margin-top: 0.2em;
    font-family: 'Dancing Script', cursive;
    font-size: 6rem;
    color: #ff0da2 ;
    text-shadow: 0.1rem 0.1rem #740853 , 0.3rem 0.3rem #a0228f;
    max-width: 1700px;
    
}


.p-dedication {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    color:#740853;
   
}


 /*****boton "lo que hago"******/                                                                        

 .btn-neon {
    text-align: center;
    padding: 0.4em 1em;
    color: #f5c6e7;
    text-shadow: 0.1rem 0.1rem #740853 , 0.1rem 0.1rem #a0228f; 
    font-size: 1.5rem;
    text-decoration: none;   
    background-color:#f094dda6;
    border-radius: 2em;
    font-family:'Concert One', cursive;
    border: 0.1em solid rgb(250, 174, 233);
    margin-top: -2em;
}

.btn-neon:hover {
    background:#fa6dc4b7;
    box-shadow: 0.1em 0.1em 0.1em 0.1em #fefeff;
    transition-delay: 0,2s;
    border-radius: 2em;
   
}

/****avatar****/
.imgpage {
    height: 65%;
    width: 100%;
    margin: 3em
}


/*//section "my studies"/*/

.my-studies {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
   
}
.container-icon {
    display: flex;
    flex-wrap: wrap;
    margin: 2em; 
    justify-content: center;
    max-width: 1200px;


}
.icon {
    width: 16em;
    height: 12em;

}


.name {
    margin: 1em;
    padding: 1em;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5em;
}
.name:hover {
    box-shadow: 0.1rem 0.1rem 1rem 0.2rem rgb(95, 204, 247) ;
}

figcaption {
    font-family: 'Concert One', cursive;
    text-align: center;
    font-size: 2rem;
}


.my-title {
    font-family: 'Concert One', cursive;
    font-size: 3rem;
    color:rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0.1rem 0.1rem #740853 , 0.1rem 0.1rem #a0228f; 
 
}  /*/todos los titulos h2 tienen los mismos valores/*/

.p-description{
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 1.5rem;
    color:#740853 ;
    text-align: center;
    margin-top: 2%;
}

/*/section- cite//*/

.container-cite {
    display: flex;
    margin: 200px 0px 200px 0px;
    justify-content: center;
    flex-wrap: wrap;
    
}
.sectioncite { 
    background-color: rgb(149, 162, 250);
    margin: 30px;
    padding: 8em 2em 8em 2em;
    box-shadow: rgba(10, 10, 10, 0.596)  0.2em 0.2em 1em 0.2em;
    text-align: center;
    border-radius: 1em;
    width: 100%;
    max-width: 1200px;
  
}
cite {  
    font-family:  'Concert One', cursive; 
    font-size: 1.5rem;
    color:rgb(255, 255, 255)
    

}

span { 
    text-align: center;
    font-family:  'Concert One', cursive; 
    font-size: 1.5rem;
    color: #070707;
   
}

.imgcomillas {
  
    width: 100px;
    height: 60px;
}

h2 {
    color: rgb(247, 137, 192);
    font-family:  'Concert One', cursive; 
    font-size: 2rem;
}
/*section project*/
 
.my-projects {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.project {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    width: 90%;
    max-width: 1000px;
    margin-top: 4em;
}

.img-projects {
    
    padding: 4px 21px 10px;
    background-color:rgb(149, 162, 250);
    border-radius: 2em;
    margin-top: 1em;
}

.img-projects:hover {
    box-shadow: 0.1rem 0.1rem 1rem 0.2rem rgb(103, 200, 238) ;
    
}
.name-projects {
    text-decoration: none;
}
.img-folio {
    margin: 2em;
    height: 210px;
    width: 210px;
  
}

.fig-name {
    font-size: 1.2rem;
    color: rgba(246, 252, 253, 0.986);
  
}
/*/ contenedor de informacion de contacto, nombre, apellido, etc/*/
/*formulario/*/

/* {
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 10em;
   

}*/

.contact-form-info-social{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2em 1em 2em 1em;
    box-shadow: 0.1rem 0.1rem 1rem 0.2rem #0BF9F9 ;
    background-color: rgb(149, 162, 250);
    border-radius: 2em;
    margin-top: 4em;
}
/*.container-form-contact {

    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
*/

/******contacto********/
/*.info-social {
    display: flex;
    flex-direction: column;
    float: right;
    width: 40%;
    max-width: 1200px;
    margin-right: 10%;
}
.ul-list-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 
.p-info {
    font-size: 1rem;
    font-family: 'Concert One', cursive;
    color:rgb(255, 255, 255) ;
    text-align: center;
    
}*/


/*****estilos de los iconos****/
.fa-social {
    color: rgb(46, 241, 255);
    font-size: 2rem;
    border-radius: 14em;
    padding: 0.4em; 
    margin: 1em;
    border: 0.02em solid rgb(80, 243, 255);
    
}

.link-icon-social{
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: rgb(46, 241, 255);
}


.link-icon-social:hover{
    color: rgb(250, 136, 250);
    transition: 0.2s;
}

.link-icon-social:hover .fa-social {
    background-color:rgb(255, 255, 255);
    color: rgb(250, 136, 250);
    transition: 0.2s;

}


/******formulario****/
form {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    max-width: 1200px;
    
}
/*****input-name-surname-mail****/
.sur-name {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

input {
    padding: 0.6em 2em;
    border-radius: 1em;
    margin: 0.5em;
    border: none;
    
}

input:hover {
    box-shadow: 0.1em 0.1em 0.1em 0.1em #0BF9F9 ;
}

.input-email-textarea{
     display: flex;
     justify-content: space-between;
     flex-direction: column;
     max-width: 1200px;
    
}
.title-span {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    color: rgb(255, 255, 255); 
    margin-top: 1em; 
}


/*textarea*/

textarea{
    border: 0;
    border-radius: 1em;
    background-color:rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    padding: 0.3em 1em 10em;
    display: block;
   
    
   
}

/*textarea{
    resize: none;
    margin-top: 3%;
}*/
textarea:hover{
    box-shadow: 0.1em 0.1em 0.2em 0.1em #0BF9F9 ;
}
.input-email, .textarea-message {
    margin-top: 3%;
}

input[type="button"]{
    border-radius: 2em;
    border: none;
    background-color: rgb(250, 136, 250);
    font-family: 'Concert One', cursive;
    font-size: 1rem;
    margin: 2%;
    text-align: center;
    color: rgb(253, 246, 251);
    text-shadow: 0.1rem 0.1rem #740853 , 0.1rem 0.1rem #a0228f;
    letter-spacing: 0.1rem;
}


/*input:invalid:required {
    border: 0.1em solid red;
}

input:valid .valid-icon-green{
    border: 1px solid greenyellow;
}*/

/**********footer***********/

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  background-color:rgb(149, 162, 250);
  padding: 3em;
  width: 100%;
  margin-top: 4em;
}
.btn-footer{
       font-family: 'Josefin Sans', sans-serif;
       word-spacing: 8rem;
       font-size: 1rem;
       text-decoration: none;
       color:  rgb(2, 64, 68);
       margin: 1em;
}


.btn-footer:hover{
       color: rgb(206, 7, 129);
}
.footer-icon {
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
       align-items: center;
    
     
}

.title-footer {
       font-family: 'Josefin Sans', sans-serif;
       font-size: 1rem;
       color: rgb(255, 255, 255);
       margin-top: 5%;
       text-align: center;
       text-shadow: 0.1rem 0.1rem #0c5591 , 0.2rem 0.2rem #1a83e6;
}
.fa-heart {
    color: rgb(255, 9, 9);
}
 
.fa-social-footer{
       color: rgb(46, 241, 255);
       margin: 1em;
       font-size: 2rem;
       border-radius: 14em;
       padding: 0.3em; 
       border: 0.02em solid rgb(80, 243, 255);
}

.footer-list-icon:hover .fa-social-footer{
        background-color:rgb(255, 255, 255);
        color:  rgb(250, 136, 250);
        transition: 0.1s;
        border-radius: 8em;
      
}



/*/Media querys/*/

/*@media(max-width:1000px){
    body{
      background-image:url(../svg/alnilam_Stars_Pattern.svg);
    }
}*/

/*****primera parte de la pagina, presentación y avatar***/
@media (max-width: 1000px) { 
    .introduction-presentation-img-avatar {
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 2em;
    }
    .title-presentation {
            text-align: center;

    }
    .img-avatar {
        height: 40em;
        margin-top: 2em;
    }
    
     .title-presentation .title-name {
        text-shadow: 0.1rem 0.1rem #000000 , 0.3rem 0.3rem #19193a;
     }

     .title-presentation.p {
              font-weight: lighter;
      
            }
     .btn-boton-div {
         display: none; 
     }
     
        }

   
/*****Barra de navegación****/
    
 @media only screen and (max-width:1000px){
     nav {
       display: none;
       
    
     }
    }  /**queda nula al llegar los 1000px**/

    /********my-studies*********/

    @media(max-width: 1110px){
        .my-studies {
            width: 100%;
            margin-top: 2%;
           
        }
        .container-icon {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
           
        
        }
        
        
    }
  
    @media (max-width: 900px){
    
        .container-icon {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
           
        
        }
        
    }
    
   /*****formulario*****/
   

   @media(max-width:1200px){
    .sur-name {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
   }

   @media (max-width:1000px) {
    .footer-list-nav {
        display: none;
    }
   }


   /*********form-contact**********/

   @media (max-width:1000px){
    form {
  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 60%;
    
    }
    /*****input-name-surname-mail****/
    .sur-name {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-around;
        align-items: center;
    }
   }


   /*****proyectos******/

   @media (max-width:800px) {
    .my-projects {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .project {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        width: 90%;
        max-width: 1000px;
        margin-top: 4em;
    }
   }