:focus{
    outline: none;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
    
    background-color:rgba(245, 181, 221, 0.514) ;
    box-shadow: inset 0 0 3em hsl(0, 0%, 98%); 
   
}

/****estilos para todos los titulos h2****/
.my-title {
    font-family: 'Concert One', cursive;
    font-size: 3rem;
    color:rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0.1rem 0.1rem #740853 , 0.1rem 0.1rem #a0228f; 
    margin-top: 2em;
} 
   /*****Estilos barra de navecgación*****/

nav { 
    background-color:rgb(245, 181, 221) ; 
    box-shadow: 0.3em 0.3em 1.6em 0.5em hsl(0, 0%, 98%);  
    position: fixed;
    width: 100%;   
    text-align: end;
    font-weight: lighter;
    word-spacing: 1rem;
     
}


.bar {
    padding: 1.5em;
    
}
li {
    display: inline;
     
}
/******boton barra de navegación "contacto" ****/
.btn-bar:hover {     
    color:rgb(47, 234, 247);
}

.btn-bar{
    color: rgb(228, 96, 140);
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    display: inline;
    
}

.btn-contact {
    color: rgb(228, 96, 140);
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0.5em;
    border-radius: 2em;  
    background-color:#f5c6e7;
}

.btn-contact:hover {
    background-color:#f5c6e7;
    border-radius: 2em;
    box-shadow: 0em 0em 0.5em 0em #fefeff;
    color:#edf3f3;
}


/*****Fin barra de navegación*****/


/*****Estilos sección; pagina de presentación *****/

.introduction-presentation-img-avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    letter-spacing: 0.1rem;
    background-color: rgba(245, 181, 221, 0.514);
    padding: 8em 1em 8em 8em;
}


/*****Estilos de titulo,parrafo y boton*****/
.title-presentation {
    display: flex;
    justify-content: space-evenly;
    flex-direction:column;
    margin-top: 5em;
    
   
}

/****Contenedor del avatar***/
 .img-avatar {
    display: flex;
    flex-direction:row;
    justify-content:center;
    max-width: 1500px;
   
 }
 
 /****avatar****/
.imgpage {
    height: 85%;
    width: 100%;
    margin: 5em
}
/***************************/

.title-hello {
    font-family: 'Concert One', cursive;
    font-size: 2.5rem;
    color: rgba(255, 152, 224, 0.747);
    text-shadow: 0.1rem 0.1rem #740853 , 0.1rem 0.1rem #a0228f; 

  
}

.title-name {
    margin-top: 0.2em;
    font-family:  'Concert One', cursive; 
    font-size: 6rem;
    color: #f1e9ee ;
    text-shadow: 0.1rem 0.1rem #740853 , 0.3rem 0.3rem #a0228f;
  
    
}


.p-dedication {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    color:#740853;
    margin-bottom: 2em;
}


 /*****boton "lo que hago"******/                                                                        

 .btn-neon {
    text-align: center;
    padding: 0.4em 1em;
    color: #f5c6e7;
    text-shadow: 0.1rem 0.1rem #740853 , 0.1rem 0.1rem #a0228f; 
    font-size: 1.5rem;
    text-decoration: none;   
    background-color:#f094dda6;
    border-radius: 2em;
    font-family:'Concert One', cursive;
    border: 0.1em solid rgb(250, 174, 233);
   
}

.btn-neon:hover {
    background:#fa6dc4b7;
    box-shadow: 0em 0em 0.5em 0em #fefeff;
    transition-delay: 0,2s;
    border-radius: 2em;
   
}




/*/section "my studies"/*****/

.my-studies { /*contenedor principal de my-studies*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
   
}
.container-icon {
    display: flex;
    flex-wrap: wrap;
    margin: 2em; 
    justify-content: center;
    max-width: 70%;
    max-width: 900px;


}
.p-description {
    margin-top: 2em;
}
.icon-svg-studies {
    padding: 0.3em 1.8em;
}

.name-icon {
    margin: 0.5em;
    padding: 0.5em;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5em;
}
.name:hover {
    box-shadow: 0em 0em 1em 0em  #0BF9F9 ;
}

figcaption {
    font-family: 'Concert One', cursive;
    text-align: center;
    font-size: 2rem;
}



.p-description{
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 1.5rem;
    color:#740853 ;
    text-align: center;
    margin-top: 1em;
}

/*/section- cite//*/

.container-cite {
    display: flex;
    margin: 12.5em 0em 12.5em 0em;
    justify-content: center;
    flex-wrap: wrap;
    
}
.sectioncite { 
    background-color: rgb(149, 162, 250);
    margin: 3em;
    padding: 8em 2em 8em 2em;
    box-shadow: rgba(10, 10, 10, 0.596)  0.2em 0.2em 1em 0.2em;
    text-align: center;
    border-radius: 1em;
    width: 100%;
    max-width: 1200px;
  
}
cite {  
    font-family:  'Concert One', cursive; 
    font-size: 1.5rem;
    color:rgb(255, 255, 255);
  
    

}
.my-title-cite { /*nombre autor cita*/
    font-family: 'Concert One', cursive;
    font-size: 1.5rem;
    color:rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0.1rem 0.1rem #740853 , 0.1rem 0.1rem #a0228f; 
    margin-top: 1em;
}
.imgcomillas {
   height: 4em;
   margin-bottom: 1em;
}  /* "comillas" representa al icono de "destellos"*/


/*section project*/
 
.my-projects { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.project {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    width: 95%;
    max-width: 900px;
    margin-top: 6em;
}

.img-projects { /*contenedor de las imagenes "mis proyectos"*/
    
    background-color:rgb(149, 162, 250);
    border-radius: 1em;
    margin-top: 1em;
}

.img-projects:hover {
    box-shadow: 0em 0em 1em 0em  #0BF9F9 ;
    
}
.name-projects {
    text-decoration: none;
}
.img-folio { /*imagenes de "mis proyectos"*/
    margin: 2em;
    padding: 0.3em 1.8em;
  
}
.fig-name {
    font-size: 1.2rem;
    color: rgba(246, 252, 253, 0.986);
    margin-bottom: 1em;
}
/*/ contenedor de informacion de contacto, nombre, apellido, etc/*/


 /*contenedor principal del formulario e información social*/
.contact-form-info-social {
    display: flex;
    justify-content: center;
 
}
/***/ 

/*contenedor de titulo-parrafo y lista de información de contacto*/
.list-container-info-contact {
    width: 100%;
    max-width: 900px;
    
}
/**/

.info-contact {
    display: flex;
    margin: 12em 0;
    background-color:rgb(149, 162, 250);
    border-radius: 4em;
    box-shadow: rgba(10, 10, 10, 0.596)  0.2em 0.2em 1em 0.2em;
    padding: 4em 4em;
}

.info-social:first-of-type {
    padding-right: 1.5em;

}
.form-message:first-of-type {
    padding-left: 1.5em;

}

.info-social {
    width: 50%;
}
.form-message {
    width: 50%;
}
.sur-name-input-label {
    display: flex;
   

}

.p-contact {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    color: rgb(255, 255, 255); 
    margin-top:  1em;
}

.my-title-contact {
    font-family: 'Concert One', cursive;
    font-size: 3rem;
    color:rgb(255, 255, 255);
    text-shadow: 0.1rem 0.1rem #740853 , 0.1rem 0.1rem #a0228f; 
    margin-bottom: 1em;
}
/*****estilos iconos de redes sociales****/
.list-icon-social{
    display: flex;
    margin: 1em 0;
}
.fa-social {
    display: flex;
    color: rgb(46, 241, 255);
    font-size: 1rem;
    border-radius: 14em;
    margin: 1.5em;
    padding: 0.4em; 
    border: 0.02em solid rgb(46, 241, 255);
    text-align: center;
    
}

.link-icon-social{
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color:rgb(46, 241, 255);
    
}

.link-icon-social:hover{
    color: rgb(252, 249, 251);
    transition: 0.2s;
}

.link-icon-social:hover .fa-social {
    background-color:rgb(250, 136, 250);
    color:rgb(252, 249, 251);
    transition: 0.2s;
    border: 0.02em solid rgb(252, 249, 251);
}

/*****estilos de input y textarea*****/
.input-label {
    flex-grow: 1;
    margin:1em 0.5em 0.2em 0em;
}

input[type="text"]{
    border-radius: 1em;
    border: none;
    padding: 0.5em 0em;
    width: 100%;

}

input[type="email"] {
    border-radius: 1em;
    border: none;
    padding: 0.5em 0em;
    width: 100%;
    
}
input[type="button"]{
    border-radius: 2em;
    border: none;
    background-color: rgb(250, 136, 250);
    font-family: 'Concert One', cursive;
    font-size: 1rem;
    text-align: center;
    color: rgb(253, 246, 251);
    text-shadow: 0.1rem 0.1rem #740853 , 0.1rem 0.1rem #a0228f;
    letter-spacing: 0.1rem;
    padding: 0.6em 2em;

}
input:hover {
    box-shadow: 0em 0em 1em 0em  #0BF9F9 ;
    transition: 00.2s;
}

.sur-name, .sur-name-email-input, .message-input{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    color: rgb(255, 255, 255); 
    margin-top: 1.5em; 
}



/*textarea*/

textarea{
    border: 0;
    border-radius: 1em;
    background-color:rgb(255, 255, 255);
    width: 100%;
    padding: 0.3em 1em 10em;  
}

textarea:hover{
    box-shadow: 0em 0em 1em 0em  #0BF9F9 ;
   
}


/**********footer***********/

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  background-color:rgb(149, 162, 250);
  padding: 3em;
  width: 100%;
  margin-top: 4em;
}
.btn-footer{
  font-family: 'Josefin Sans', sans-serif;
  word-spacing: 8rem;
  font-size: 1rem;
  text-decoration: none;
  color:  rgb(2, 64, 68);
  margin: 1em;
}


.btn-footer:hover{

  color: rgb(206, 7, 129);
}


.footer-icon {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
    
     
}

.title-footer {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    margin-top: 5%;
    text-align: center;
    text-shadow: 0.1rem 0.1rem #0c5591 , 0.2rem 0.2rem #1a83e6;
}
.fa-heart {

    color: rgb(255, 9, 9);
}
 
.fa-social-footer{
    color: rgb(46, 241, 255);
    margin: 1em;
    font-size: 2rem;
    border-radius: 14em;
    padding: 0.3em; 
    border: 0.02em solid rgb(80, 243, 255);
}

.footer-list-icon:hover .fa-social-footer{
    background-color:rgb(255, 255, 255);
    color: rgb(250, 136, 250);
    transition: 0.1s;
    border-radius: 8em;
    border: 0.02em solid rgb(250, 136, 250);
}


/*****Barra de navegación****/
    
 @media only screen and (max-width:1000px){
     nav {
       display: none; /*NAV-deja de aparecer al llegar los 900px*/
     }
} 


/*****primera parte de la pagina, presentación y avatar***/


@media (max-width: 1000px) { 
    .introduction-presentation-img-avatar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 2em;
    }
    .title-presentation {
        text-align: center;

    }
    .img-avatar {
        height: 40em;
        margin-top: 2em;
    }
    
     .title-name {
        text-shadow: 0.1rem 0.1rem #000000 , 0.3rem 0.3rem #19193a;
        font-size: 5rem;
    }


     .p-dedication {
         margin-top: 1.5em;
     }
     .btn-boton-div {
        margin-top: 3em;
     }
     .btn-neon {
        padding: 0.8em 1em;
    }
  }
 
/***my-studies**/
@media (max-width:900px){
.container-icon{
    transition: 0.2s;
 }
}

@media (max-width:560px){
    .name-icon {
        padding: 4em;
        transition: 00.2s;
    }
}
    /****Mis proyectos****/



@media (max-width:900px){
     .my-projects {
         justify-content:  center;
     }
     .project {
          justify-content:space-around;
          transition: 00.2s;
}
    .img-projects {
        padding: 4em;
    }

}



   /*********form-contact**********/
@media (max-width: 900px) {
    .contact-form-info-social {
        display: flex;
        flex-direction: column;
        transition: 00.2s;
        min-width: 300px;
    }
  
    .info-contact {
        display: flex;
        flex-direction: column;
    }
    
    .info-social {
        width: 100%;
    }
    

    
    .form-message {
        width: 100%;
    }
    
    .sur-name-input-label {
        flex-wrap: wrap;
        
       
    
    }
    .input-label {
        flex-grow: 1;
        margin-bottom: 1.5em;
    }


}


@media (max-width:900px){
    .ul-list-icon {
            display: flex;
            flex-wrap: wrap;
            width: 90%;
    }
    .list-icon-social {
     max-width: 300px;
    }
}

 

/*****footer******/

@media (max-width:1000px) {
    .footer-list-nav {
        display: none;
    }
}


@media (max-width:400px){
    .footer-icon {
        flex-wrap: nowrap;
       
  }
}